<div class="limiter row">
    <form enctype="multipart/form-data" id="add_to_db" class="container-login100" method="POST" action="/add_to_db">
        <div class="w-100" style="text-align: -webkit-center;">
            <div class="wrap-input100 validate-input" style="width: 20%;">
                <% if(typeof msg != 'undefined') { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= msg%>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <% } %>
                        <input class="input100" style="padding-left: 30px;" type="userid" id="userid" name="userid" placeholder="User Id" autocomplete="name">
                        <span class="focus-input100"></span>
            </div>
            <div class="w-100" style="display: flex;justify-content: center;">
                <div class="dropHere" style="padding: 0px;">
                    <input id="upfile" name="photo" type="file" value="upload" onchange="sub(this)" />
                    <div>
                        <i class="material-icons w-100" style="font-size:36px; text-align: center; margin-bottom: 10px;">cloud_upload</i>
                        <p id="uploadButton">Drag and drop a zip file or click to add</p>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-color" style="color: white; align-content: center;">Compute</button>
    </form>
</div>

<script>
    function sub(obj) {
        var file = obj.value;
        var fileName = file.split("\\");
        document.getElementById("uploadButton").innerHTML = fileName[fileName.length - 1];
        if (fileName == '')
            document.getElementById("uploadButton").innerHTML = "Choose zip file to upload";
        event.preventDefault();
    }
</script>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>