<div class="limiter row">
    <form enctype="multipart/form-data" id="detect_in_video" class="container-login100" method="POST" action="/detect_in_video">
        <div class="w-50" style="text-align: -webkit-center;">
            <div class="wrap-login100">
                <i class="material-icons w-100" style="font-size:36px; text-align: center; margin-bottom: 10px;">cloud_upload</i>
                <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile1" name="zip" type="file" value="upload" onchange="sub1(this)" /></div>
                <a id="uploadButton1" onclick="getFile1()" type="button" class="w-100 btn btn-primary btn-color" style="color: white; margin-bottom: 10px;">Choose zip file to Upload</a>
                <a class="btn button">Or drag and drop it here</a>
            </div>
        </div>
        <div class="w-50" style="text-align: -webkit-center;">
            <div class="wrap-login100">
                <i class="material-icons w-100" style="font-size:36px; text-align: center; margin-bottom: 10px;">cloud_upload</i>
                <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile2" name="video" type="file" value="upload" onchange="sub2(this)" /></div>
                <a id="uploadButton2" onclick="getFile2()" type="button" class="w-100 btn btn-primary btn-color" style="color: white; margin-bottom: 10px;">Choose video to upload</a>
                <a class="btn button">Or drag and drop it here</a>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-color" style="color: white; align-content: center;">Compute</button>
    </form>
</div>

<script>
    function getFile1() {
        document.getElementById("upfile1").click();
    }

    function sub1(obj) {
        var file = obj.value;
        var fileName = file.split("\\");
        document.getElementById("uploadButton1").innerHTML = fileName[fileName.length - 1];
        if (fileName == '')
            document.getElementById("uploadButton1").innerHTML = "Choose zip file to Upload";
        event.preventDefault();
    }

    function getFile2() {
        document.getElementById("upfile2").click();
    }

    function sub2(obj) {
        var file = obj.value;
        var fileName = file.split("\\");
        document.getElementById("uploadButton2").innerHTML = fileName[fileName.length - 1];
        if (fileName == '')
            document.getElementById("uploadButton2").innerHTML = "Choose video to upload";
        event.preventDefault();
    }
</script>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>