<style>
    @media screen and (min-width: 600px) {
        /* Add styling here you wish to add for screens with a width of 600px and wider */
        figure {
            display: flex;
        }
        figcaption {
            width: 100%;
        }
        .image-left {
            flex-direction: row-reverse;
        }
        .image-right {
            /* This is set to flex-direction: row; by default so doesn't need to be added */
        }
    }
</style>
<div class="limiter row">
    <div class="container-login101">
        <table class="w-100" style="margin-top: 70px;background-color: white;">
            <tr>
                <td style="padding: 35px;">
                    <figure class="image-left">
                        <img style="border: 1px solid #ddd;" width="50%" alt="IMG" src="/images/help/DetectInPhoto.png" />
                        <figcaption>
                            <p style="font-size: large;color: black; text-transform: uppercase;text-align: start;font-weight: bold;">
                                Steps to detect in a photo:-</p>
                            <p style="text-align: start;">1. Click Detect in photo.<br>2. Upload a zip file containing sample pictures of only the subject you want to search.<br>3. Upload a picture you want to search in the subject provided above.<br>4. Click on the compute button
                                to get the results.
                            </p>
                        </figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 35px;padding-right: 35px; padding-bottom: 35px;">
                    <figure class="image-left">
                        <img style="border: 1px solid #ddd;" width="50%" alt="IMG" src="/images/help/DetectInVideo.png" />
                        <figcaption>
                            <p style="font-size: large;color: black; text-transform: uppercase;text-align: start;font-weight: bold;">
                                Steps to detect in a Video:-</p>
                            <p style="text-align: start;">1. Click Detect in Video.<br> 2. Upload a zip file containing sample pictures of only the subject you want to search.<br> 3. Upload a video you want to search in the subject provided above.<br> 4. Click on the compute button
                                to get the results.<br>
                            </p>
                        </figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 35px;padding-right: 35px; padding-bottom: 35px;">
                    <figure class="image-left">
                        <img style="border: 1px solid #ddd;" width="50%" alt="IMG" src="/images/help/DetectHazard.png" />
                        <figcaption>
                            <p style="font-size: large;color: black; text-transform: uppercase;text-align: start;font-weight: bold;">
                                Steps to Detect Hazard:-</p>
                            <p style="text-align: start;">1. Click Detect Hazard.<br> 2. Upload a sample file describing a hazard.<br> 3. Upload a video in which you want to search in the hazard provided above.<br> 4. Click on the compute button to get the results.<br>
                            </p>
                        </figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 35px;padding-right: 35px; padding-bottom: 35px;">
                    <figure class="image-left">
                        <img style="border: 1px solid #ddd;" width="50%" alt="IMG" src="/images/help/GetId.png" />
                        <figcaption>
                            <p style="font-size: large;color: black; text-transform: uppercase;text-align: start;font-weight: bold;">
                                Steps to get id of a person:-</p>
                            <p style="text-align: start;">
                                1. Click Get Id.<br> 2. Upload a picture of the subject you want to Id.<br> 3. Click on the compute button to get the results.<br>
                            </p>
                        </figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 35px;padding-right: 35px; padding-bottom: 35px;">
                    <figure class="image-left">
                        <img style="border: 1px solid #ddd;" width="50%" alt="IMG" src="/images/help/AdminLogin.png" />
                        <figcaption>
                            <p style="font-size: large;color: black; text-transform: uppercase;text-align: start;font-weight: bold;">
                                Steps to Add to Database:-</p>
                            <p style="text-align: start;">
                                1. Click Add to db.<br> 2. Enter admin's username.<br> 3. Enter admin's password.<br> 4. Click on the login button to login as admin.<br>
                            </p>
                        </figcaption>
                    </figure>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 35px;padding-right: 35px; padding-bottom: 35px;">
                    <figure class="image-left">
                        <img style="border: 1px solid #ddd;" width="50%" alt="IMG" src="/images/help/AddToDb.png" />
                        <figcaption>
                            <p style="font-size: large;color: black; text-transform: uppercase;text-align: start;font-weight: bold;">
                                Steps to Add to Database (Continued):-</p>
                            <p style="text-align: start;">
                                1. Enter a id for the new subject.<br> 2. Upload a zip file containing sample pictures of only the subject you want to search.<br> 3. Click on the compute button to add to new subject to the database.<br></p>
                            </figcion>
                    </figure>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>